* {
    margin: 0;
    padding: 0;
  }
  #video-box {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 30px auto;
    overflow: hidden;
  }
  #v1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
    border: 0;
    vertical-align: bottom;
  }
  #div1 {
    width: 100%;
    height: 10px;
    background: rgba(255,255,255,0.35);
    overflow: hidden;
    position: relative;
  }
  #played{
    width: 0px;
    height: 10px;
    background: rgba(72,133,240,1);
  }
  #div2 {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  #div1:hover #div2 {
    display: block;
  }
  #div2:hover{
    cursor: pointer;
  }
  #div3 {
    width: 100%;
    height: 10px;
    background: #666;
    overflow: hidden;
    position: relative;
  }
  #div4 {
    width: 60px;
    height: 10px;
    background: yellow;
    position: absolute;
    right: 0;
    top: 0;
  }
  #tool {
    width: 100%;
    position: absolute;
    bottom: -50px;
    transition: all 1s;
    background: rgba(0,16,27,0.7);
  }
  .pv-controls{
    padding: 10px 5px;
  }